<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379454195798-duh6bvnml1lc1s9o9g32rbbfu97da6rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379454195798-duh6bvnml1lc1s9o9g32rbbfu97da6rd</string>
	<key>API_KEY</key>
	<string>AIzaSyBtpL9iffrR7rkF9Sb177gxyBdeyhCepxk</string>
	<key>GCM_SENDER_ID</key>
	<string>379454195798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaiyuendev.gymbro</string>
	<key>PROJECT_ID</key>
	<string>gymbro-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gymbro-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379454195798:ios:ce630ab565e6b801c2d3f7</string>
</dict>
</plist>